body {
    font-family: 'San Francisco', Helvetica, Arial, sans-serif;
    text-align: center;
}

button {
    border: 1px solid black;
    border-radius: 7px;
    background-color: white;
    font-size: 1rem;
    margin: 0.5rem;
}

h1 {
    margin-bottom: 0;
}

.img
{                
    width: 70%;
}